In [38]:
import pandas as pd
from ipywidgets import interactive

In [3]:
athlete_events_fname = 'athlete_events.csv'
athlete_df = pd.read_csv(athlete_events_fname, index_col=0)

# Wykres nr 1

In [46]:
athletes_by_season_df = pd.DataFrame(athlete_df.groupby(['Year', 'Season']).size(), columns=['AthletesCount'])
athletes_by_season_reset_df = athletes_by_season_df.reset_index(level='Season')
athletes_by_season_single_index_df = pd.DataFrame(
    {
        'AthletesCountSummer': athletes_by_season_reset_df[athletes_by_season_reset_df['Season']=='Summer']['AthletesCount'],
        'AthletesCountWinter': athletes_by_season_reset_df[athletes_by_season_reset_df['Season']=='Winter']['AthletesCount']
    },
).fillna(value=0)
athletes_by_season_single_index_df

      AthletesCountSummer  AthletesCountWinter
Year
1896                380.0                  0.0
1900               1936.0                  0.0
1904               1301.0                  0.0
1906               1733.0                  0.0
1908               3101.0                  0.0
1912               4040.0                  0.0
1920               4292.0                  0.0
1924               5233.0                460.0
1928               4992.0                582.0
1932               2969.0                352.0
1936               6506.0                895.0
1948               6405.0               1075.0
1952               8270.0               1088.0
1956               5127.0               1307.0
1960               8119.0               1116.0
1964               7702.0               1778.0
1968               8588.0               1891.0
1972              10304.0               1655.0
1976               8641.0               1861.0
1980               7191.0               1746.0
1984               9454.0               2134.0
1988              12037.0               2639.0
1992              12977.0               3436.0
1994                  0.0               3160.0
1996              13780.0                  0.0
1998                  0.0               3605.0
2000              13821.0                  0.0
2002                  0.0               4109.0
2004              13443.0                  0.0
2006                  0.0               4382.0
2008              13602.0                  0.0
2010                  0.0               4402.0
2012              12920.0                  0.0
2014                  0.0               4891.0
2016              13688.0                  0.0

In [44]:
def athletes_by_season_plot(width=12):
    athletes_by_season_single_index_df.plot.bar(stacked=True, title='Liczba zawodników na olimpiadach', figsize=(width,4), fontsize=10)

Zmiana szerokości

In [45]:
interactive(athletes_by_season_plot, width=(6.0, 30.0))

interactive(children=(FloatSlider(value=12.0, description='width', max=30.0, min=6.0), Output()), _dom_classes…

# Wykres nr 2

In [48]:
# Wykres nr 1only_summer_games_df = athlete_df[athlete_df['Season'] == 'Summer']
only_summer_games_df = athlete_df[athlete_df['Season'] == 'Summer']
unique_games = only_summer_games_df['Games'].nunique()
avg_sex_by_NOC = pd.DataFrame(
    only_summer_games_df.groupby(['NOC', 'Sex']).size() / unique_games, 
    columns=['AvgAthletesPerGame']
)
avg_sex_by_NOC_reset_df = avg_sex_by_NOC.reset_index(level='Sex')
avg_sex_by_NOC_single_index_df = pd.DataFrame(
    {
        'AvgMales': avg_sex_by_NOC_reset_df[avg_sex_by_NOC_reset_df['Sex']=='M']['AvgAthletesPerGame'],
        'AvgFemales': avg_sex_by_NOC_reset_df[avg_sex_by_NOC_reset_df['Sex']=='F']['AvgAthletesPerGame']
    },
).fillna(value=0)
avg_sex_by_NOC_single_index_df

      AvgMales  AvgFemales
NOC
AFG   4.172414    0.172414
AHO   2.137931    0.413793
ALB   1.310345    0.862069
ALG  15.482759    3.103448
AND   1.379310    0.448276
..         ...         ...
YEM   0.965517    0.137931
YMD   0.172414    0.000000
YUG  60.310345   10.241379
ZAM   5.655172    0.655172
ZIM   6.758621    3.896552

[230 rows x 2 columns]

In [50]:
def avg_sex_by_NOC_plot(title):
    avg_sex_by_NOC_single_index_df.plot.barh(stacked=True, title=title, figsize=(4,26), fontsize=5)

In [51]:
interactive(avg_sex_by_NOC_plot, title='Średnia liczba kobiet i mężczyzn na zawodach')

interactive(children=(Text(value='Średnia liczba kobiet i mężczyzn na zawodach', description='title'), Output(…

# Wykres nr 3

In [59]:
five_biggest_df = pd.DataFrame(athlete_df.groupby(['NOC', 'Games', 'Name']).size().groupby(['NOC']).count().nlargest(5), columns=['AthletesCount'])
five_biggest_df

     AthletesCount
NOC
USA          12852
GBR           8490
FRA           8276
ITA           7223
GER           6683

In [60]:
def five_biggest_plot(color):
    five_biggest_df.plot.barh(title='Top 5 komitetów, które wystawiły najwięcej zawodników', color=color)

In [61]:
colors = ['black', 'gray', 'red', 'orange', 'yellow', 'blue', 'green', 'pink', 'purple']

In [62]:
interactive(five_biggest_plot, color=colors)

interactive(children=(Dropdown(description='color', options=('black', 'gray', 'red', 'orange', 'yellow', 'blue…